<div class="trillo-table" name="SubsTable" nm="SubsTable">
  <div>
    <table data-container="" class="table table-striped table-bordered">
      <thead>
        <tr data-table-header="">
          <th nm="country">Column_1</th>
          <th nm="satisfaction">Column_2</th>
          <th nm="headshot">Column_3</th>
        </tr>
      </thead>
      <tbody>
        <tr data-table-row="">
          <td data-component="readonly" nm="Column_1">
            <span data-field="" nm="Column_1"></span>
          </td>
          <td data-component="readonly" nm="Column_2">
            <span data-field="" nm="Column_2"></span>
          </td>
          <td data-component="readonly" nm="Column_3">
            <span data-field="" nm="Column_3"></span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
